@font-face {
    font-family: 'Cera Pro Regular';
    src: url('../fonts/CeraPro-Regular.eot') format('eot'),
        url('../fonts/CeraPro-Regular.woff') format('woff'),
        url('../fonts/CeraPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro Medium';
    src: url('../fonts/CeraPro-Medium.eot') format('eot'),
        url('../fonts/CeraPro-Medium.woff') format('woff'),
        url('../fonts/CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro Bold';
    src: url('../fonts/CeraPro-Bold.eot') format('eot'),
        url('../fonts/CeraPro-Bold.woff') format('woff'),
        url('../fonts/CeraPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.main {
    display: flex;
    flex-direction: column;
    row-gap: 135px;
    padding: 121px 0;
}

.top__content {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 28px;
}

.content {
    background-color: #FBFBFB;
    width: 586px;
    height: 250px;
}

.content__img {
    width: 287px;
    height: 292px;
    position: absolute;
    top: 76px;
}

.content__text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    padding-right: 30px;
    color: #3D3D3D;
    padding: 37px 30px 45px 0;
}

.content__title {
    align-items: end;
    width: 150px;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 9px;
}

.content__desc {
    width: 292px;
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 25px;
}

.btn {
    display: flex;
}

.content__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 6px;
    background: #46A358;
    color: #FFF;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 11px 28px;
}

.blog {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.blog__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.blog__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 44px;
}

.blog__card {
    row-gap: 4px;
}

.blog__card-text {
    width: 268px;
    background-color: #FBFBFB;
    padding: 9px 11px 13px 15px;
}

.text-top {
    color: #46A358;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.text-title {
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
}

.text-desc {
    margin-bottom: 9px;
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.read__more {
    display: flex;
    align-items: center;
    gap: 3px;
    color: #3D3D3D;
    font-family: "Cera Pro Medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}